<h1>Students</h1>

<ul>
    <% @students.each do |student| %>
      <li class="student pull-left">
        <%= link_to student.nickname, student %>
      </li>
    <% end %>
</ul>

<div class="clearfix"></div>

<h1>Tasks</h1>
<%= render partial: "tasks", locals: {tasks: @tasks} %>
