<div class="container centered">
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @student.name %>
      </h1>
      <%= render "tasks", tasks: @student.tasks %>
    </div>
    </section>
  </aside>
</div>
</div>