<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>StudentAdmin</title>
=======
  <title>TaskModel</title>
>>>>>>> 413d0d73c5d5ca3f0391c3c143a73b486d8ac706
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
